[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awsume = "*"
awscli = "*"
awslogs = "*"

[packages]
requests = "*"
requests-oauthlib = "*"
flywheel = "*"
oauth2-client = "*"
authlib = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
